@model IEnumerable<GoodNature.Entities.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <partial name="_AddButtonPartial" model="0" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="w-25">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="w-25">
                @Html.DisplayNameFor(model => model.ThumbnailImagePath)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThumbnailImagePath)
        </td>
        <td>
            <partial name="_RUDButtonsPartial" model="@item.Id"/>
        </td>
        <td>
            <a asp-controller="CategoryItem" asp-action="Index" asp-route-categoryId="@item.Id" class="btn btn-outline-secondary btn-sm float-right">Update Items</a>
        </td>
    </tr>
}
    </tbody>
</table>
