@model CategoryDetailsModel

@using GoodNature.Data

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.ActiveGroupedCategoryItemsModels != null || Model.SelectedGroupedCategoryItemsModels != null)
{
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Your Conservation Projects</h2>
        </div>
        <div class="col-md-6 text-right">
            <a asp-controller="CategoriesToUser" asp-action="Index" class="btn btn-primary text-light shadow-none">Choose Projects</a>
        </div>
    </div>

    @if (Model.ActiveGroupedCategoryItemsModels.Count() > 0 || Model.SelectedGroupedCategoryItemsModels.Count() > 0)
    {
        @if (Model.ActiveGroupedCategoryItemsModels.Count() > 0)
        {
            <h3>Your active projects</h3>
            <div class="row mt-3">
                <div class="col-md-12">

                    @foreach (var cat in Model.ActiveGroupedCategoryItemsModels)
                    {
                        var items = cat.Items.ToList();
                        int itemCount = items.Count();

                        <div class="card mt-4">
                            <h4 class="card-header text-light bg-mid-green pointer" data-toggle="collapse" data-target="#collapse_@cat.Id"
                                aria-expanded="false" aria-controls="#collapse_@cat.Id">
                                @cat.Title
                            </h4>
                            <div id="collapse_@cat.Id" class="collapse pl-2 pb-4 bg-lighter-green-005" aria-expanded="false" aria-controls="#collapse_@cat.Id">
                                @for (int i = 0; i < itemCount; i++)
                                {
                                    var item = items[i];
                                    <div class="clearfix">
                                        <img src="@item.MediaImagePath" width="100" height="100" class="img-thumbnail float-left mr-4" />
                                        <h5 class="card-title mt-4">
                                            <a class="text-dark mr-2" asp-controller="Content" asp-action="Index" asp-route-CategoryItemId="@item.CategoryItemId">
                                                @item.CategoryItemTitle
                                            </a>
                                        </h5>
                                        <p class="card-text text-dark mt-2 mr-2">
                                            @item.CategoryItemDescription
                                        </p>
                                    </div>
                                    @if (i < itemCount - 1)
                                    {
                                        <hr class="mt-4 mb-0 mr-2"/>
                                    }
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
        if (Model.SelectedGroupedCategoryItemsModels.Count() > 0)
        {
            <h3>Your shortlisted projects</h3>
            <div class="row mt-3">
                <div class="col-md-12">

                    @foreach (var cat in Model.SelectedGroupedCategoryItemsModels)
                    {
                        var items = cat.Items.ToList();
                        int itemCount = items.Count();

                        <div class="card mt-4">
                            <h4 class="card-header text-light bg-mid-green pointer" data-toggle="collapse" data-target="#collapse_@cat.Id"
                                aria-expanded="false" aria-controls="#collapse_@cat.Id">
                                @cat.Title
                            </h4>
                            <div id="collapse_@cat.Id" class="collapse pl-2 pb-4 bg-lighter-green-005" aria-expanded="false" aria-controls="#collapse_@cat.Id">
                                @for (int i = 0; i < itemCount; i++)
                                {
                                    var item = items[i];
                                    <div class="clearfix">
                                        <img src="@item.MediaImagePath" width="100" height="100" class="img-thumbnail float-left mr-4" />
                                        <h5 class="card-title mt-4">
                                            <a class="text-dark mr-2" asp-controller="Content" asp-action="Index" asp-route-CategoryItemId="@item.CategoryItemId">
                                                @item.CategoryItemTitle
                                            </a>
                                        </h5>
                                        <p class="card-text text-dark mt-2 mr-2">
                                            @item.CategoryItemDescription
                                        </p>
                                    </div>
                                    @if (i < itemCount - 1)
                                    {
                                        <hr class="mt-4 mb-0 mr-2"/>
                                    }
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        }       
    }   
    else
    {
         <div class="row mt-5">
            <div class="col-md-12">
                <h4 class="text-dark text-center">You haven't selected any conservation projects yet.</h4>
            </div>
        </div>
    }
}
else
{
    <partial name="_DefaultHomePageContentPartial" model=@Model.Categories />
}

<div class="modal fade" id="userLoginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" model="new LoginModel
        {
            Email = string.Empty,
            Password = string.Empty,
            RememberMe = false,
        }">
</div>

<div class="modal fade" id="userRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial" model="new RegistrationModel
        {
            Email = string.Empty,
            Password = string.Empty,
            ConfirmPassword = string.Empty,
            FirstName = string.Empty,
            LastName = string.Empty,
            PhoneNumber = string.Empty,
            Address1 = string.Empty,
            Address2 = string.Empty,
            Postcode = string.Empty,
            AcceptUserAgreement = false,
        }">
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_AuthScriptsPartial");
    }
}
